body {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #2e2e2e; }

a:hover {
  color: #2e2e2e;
  text-decoration: none; }

ul, ol {
  list-style: none;
  padding: 0;
  margin-bottom: 0; }

img {
  width: 100%; }

label {
  margin: 0;
  padding: 0;
  color: #2e2e2e;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px; }

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s; }

.underlineHover:hover {
  color: #0d0d0d; }

.underlineHover:hover:after {
  width: 100%; }

/* OTHERS */
*:focus {
  outline: none; }

.login-wrap {
  width: 500px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }

.login-info {
  background: #007BFF;
  padding: 50px; }

.login-info h2 {
  color: white; }

.menu-wrap {
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  margin-left: -200px;
  transition: all .5s;
  border-right: solid rgba(0, 0, 0, 0.2);
  background: #f6f6f6; }

.btn-menu {
  cursor: pointer; }

.btn-menu:hover {
  color: gray; }

.menu-wrap-js {
  margin-left: 0; }

.icon-wrap {
  max-width: 30px; }

.menu-wrap .nav-link {
  color: #2e2e2e; }

.menu-wrap .nav-link:hover {
  color: gray; }

@media (min-width: 768px) {
  .menu-wrap {
    margin-left: 0; }

  .menu-wrap-js {
    margin-left: -200px; } }
.top-bar {
  background: #007BFF; }

.top-bar span {
  color: white; }

.top-bar .tipo-usuario {
  color: white; }

.top-bar .tipo-usuario:hover {
  color: gray;
  text-decoration: none; }

.top-bar .nav-link {
  color: white; }

.top-bar .nav-link:hover {
  color: gray; }

.top-bar .dropdown-item span {
  color: red; }

.main-content-wrap {
  width: 100%; }

.breadcum {
  background: white;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-radius: 5px;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
  font-size: 14px;
  border: solid thin rgba(0, 0, 0, 0.1); }

.breadcum .icon {
  background: #2e2e2e;
  color: white;
  padding: 11px;
  border-radius: 5px 0 0 5px;
  position: relative; }

.breadcum .rombo {
  right: -14px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-left: 14px solid #2e2e2e;
  border-bottom: 18px solid transparent;
  position: absolute; }

.bread-titulo {
  color: #2e2e2e; }

.asesor-wrap, .estudiante-wrap {
  padding: 5px 10px 20px 10px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }

/** data table **/
.head-tabla td {
  height: 40px;
  padding: 0 10px; }

.body-tabla td {
  height: 36px;
  padding: 0 10px; }

/*# sourceMappingURL=style.css.map */
