body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #2e2e2e;
}

a:hover {
  color: #2e2e2e;
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
}

label {
  margin: 0;
  padding: 0;
  color: #2e2e2e;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

@import "login";
@import "menu";
@import "header";
@import "contenidoPrincipal";
@import "breadcrum";
@import "form";

/** data table **/

.head-tabla td {
  height: 40px;
  padding: 0 10px;
}
.body-tabla td {
  height: 36px;
  padding: 0 10px;
}

.ui-datepicker-calendar {
    display: none;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    display: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    display: flex;
    justify-content: center;
}






